:root {
  --black: #0F0F0F;
  --white: #EBEBEB;
  --red: #EE1549;
  --purple: #8118EA;
  --grey1: #A8A8A8;
  --grey2: #3B3B3B;
  --grey3: #1B1B1B;

  --text-big: 2.5rem;
  --text-basic: 2rem;
  --text-medium: 1.75rem;
  --text-small: 1rem;

  --margin: 2rem;

  --transparent: rgba(255, 255, 255, 0);
  --color1: #92f2f2;
  --color2: #d6cff1;
  --color3: #c4f2e5;
  --color4: #a8d0f0;
  --color5: #c2dcf2;
  --color6: #eed5f2;
  --color7: #9cb9fc;

  --holographic: radial-gradient(at 30% -5%, var(--color1), var(--color2), var(--transparent) 25%),
    radial-gradient(at 50% 70%, var(--color3), var(--transparent) 30%),
    radial-gradient(at 70% 0%, var(--color2), var(--transparent) 20%),
    linear-gradient(75deg, var(--color1) 5%, var(--transparent), var(--color4), var(--transparent), var(--color6), var(--transparent), var(--color2), var(--transparent), var(--color3) 90%),
    radial-gradient(at 30% 50%, var(--color1), var(--transparent) 30%),
    radial-gradient(at 30% 50%, var(--color7), var(--transparent) 30%),
    radial-gradient(at 100% 50%, var(--color1), var(--color5), var(--transparent) 50%),
    linear-gradient(115deg, var(--color1) 5%, var(--color4) 10%, var(--color2), var(--color6) 20%, var(--color4), var(--color4) 30%, var(--color2), var(--color5) 40%, var(--color1), var(--color4) 70%);
}

@media (max-width: 899px) {
  :root {
    --margin: 1.5rem;
    --grey2: #000000;
  }
  #preloader {
    justify-content: end;
    padding-bottom: 3rem;
  }
}

@media (min-width: 899px) {
  #preloader {
    justify-content: center;
  }
}

::-moz-selection {
  color: var(--white);
  background: var(--black);
}

::selection {
  color: var(--white);
  background: var(--black);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

html.fullscreen-page {
  overflow-y: hidden;
  overflow-x: hidden;
  pointer-events: none;
}

html.fullscreen-page #page-mask {
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.3s;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: var(--grey2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
  letter-spacing: -.5px;
  color: var(--white);
  line-height: 125%;
}

a, a:visited {
  color: var(--grey1);
  text-decoration-thickness: from-font;
}

a:hover {
  color: var(--white);
}

a:hover > .arrow-external {
  filter: invert(1); 
}

.arrow-external {
  filter: invert(.7);
}

h1,
h2,
h3,
p,
ul {
  font-size: var(--text-medium);
  margin: 0;
}

p,
ul {
  font-weight: 300;
}

ul {
  padding: 0;
  list-style: none;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

h1:first-child,
h2:first-child {
  margin-top: -0.25rem;
}

.foreground {
  z-index: 10000;
}

img {
  width: 100%;
  margin-bottom: -3px;
}

iframe {
  border: none;
}

@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.25;}
  100% {opacity: 1;}
}

#preloader {
  transition: .3s ease-in-out;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 99999;
  pointer-events: none;
}

#preloader-content {
  text-align: center;
  animation: pulse 2s;
  animation-iteration-count: infinite;
}