:root {
  --white: #FFF7EA;
  --red: #EE1549;
  --purple: #8118EA;
}

#root{
  overflow: hidden;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  background: black;
  font-family: "Inter";
}

h1,
h2,
p {
  font-size: 3rem;
  margin: 0;
}

h1,
h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
}