:root {
  --white: #FFF7EA;
  --red: #EE1549;
  --purple: #8118EA;
}

#root {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  background: black;
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}